<div *ngIf="proposals && proposals.length == 0">
  There are no proposals.
</div>
<div class="card-columns">
    <div *ngFor="let proposal of proposals" class="card text-white bg-dark">
      <div class="card-header text-center">
        <h5 class="card-title">{{proposal.title}} - {{proposal.speakerName}}</h5>
        <div *ngIf="proposal.scheduledSessions">
          <div *ngFor="let scheduledSession of proposal.scheduledSessions">
            <strong>Room:</strong> {{scheduledSession.room}}
            <strong>Time:</strong> {{scheduledSession.standardTime}}
          </div>
        </div>
      </div>
      <div>
        <div class="card-body">
          <div>
            Email: {{proposal.email}}
          </div>
          <div>
            Bio: {{proposal.bio}}
          </div>
          <div>
            Talk Description: {{proposal.description}}
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-success" (click)="goToSessionPage(proposal.id)">Add to Schedule</button>
        <button class="btn btn-danger" (click)="deleteProposal(proposal)">Delete Proposal</button>
      </div>
    </div>
</div>
