.box {
  color: #fff;
  background-color: #444;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin: 5px;
  width: 200px;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.wrapper {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.break {
  color: #fff;
  background-color: #d98733;
  font-size: 150%;
  margin: 5px 0;
  border-radius: 5px;
  padding: 20px;
  flex: 1;
  text-align: center;
}
