ul {
  overflow: hidden;
  background-color: #354141;
}

li a {
  color: white;
  cursor: pointer;
}

li a:hover {
  background-color: #74afad;;
}

.navbar-brand {
  background-color: #d98733;
  color: white;
}

.nav-background {
  background-color: #354141;
}

/*#e7e7e5*/
