<h3 class="text-center">Schedule</h3>
<div *ngIf="schedule">
  <div>
    <button *ngIf="!schedule.published" class="btn admin-btn" (click)="publishSchedule()">Publish Schedule</button>
    <button *ngIf="schedule.published" class="btn admin-btn" (click)="unpublishSchedule()">Unpublish Schedule</button>
    <button class="btn btn-danger" (click)="clearSchedule()">Clear Schedule</button>
    <button class="btn admin-btn" (click)="toggleEditingRooms()">Add/Remove Rooms</button>
    <button class="btn admin-btn" (click)="toggleEditingTimeSlots()">Add/Remove Time Slots</button>
    <button class="btn admin-btn" (click)="toggleAddingBreak()">Add Breaks</button>
  </div>
  <div class="flex-row">
    <div class="header-box">*</div>
    <div *ngFor="let room of schedule.rooms" class="header-box">{{room}}</div>
  </div>
  <div *ngFor="let timeSlot of schedule.timeSlots" class="flex-column">
    <div class="flex-row">
      <div class="header-box">{{timeSlot.standardTime}}</div>
      <ng-container *ngIf="!isBreak(timeSlot.standardTime)">
        <div *ngFor="let room of schedule.rooms"
        class="box"
        (click)="goToEditSessionPage(timeSlot.standardTime, room)">
        {{getSessionTitle(timeSlot.standardTime, room)}}
        </div>
      </ng-container>
      <ng-container *ngIf="isBreak(timeSlot.standardTime)">
        <div class="break" (click)="goToEditSessionPage(timeSlot.standardTime)">
          {{getBreakTitle(timeSlot.standardTime)}}
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="!schedule">
  Start scheduling sessions!
</div>

<div *ngIf="editingRooms"
     class="edit-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <app-edit-rooms [schedule]="schedule" (editingRooms)="toggleEditingRooms()"></app-edit-rooms>
</div>
<div *ngIf="editingTimeSlots"
     class="edit-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="timesModalLabel"
     aria-hidden="true">
  <app-edit-time-slots [schedule]="schedule" (editingTimeSlots)="toggleEditingTimeSlots()"></app-edit-time-slots>
</div>
<div *ngIf="addingBreak"
     class="edit-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="breakModalLabel"
     aria-hidden="true">
  <app-add-break [schedule]="schedule" (addingBreak)="toggleAddingBreak()"></app-add-break>
</div>
