<h3 class="text-center">Schedule</h3>
<div *ngIf="schedule">
  <div>
    <button *ngIf="!schedule.published" class="btn admin-btn" (click)="publishSchedule()">Publish Schedule</button>
    <button *ngIf="schedule.published" class="btn admin-btn" (click)="unpublishSchedule()">Unpublish Schedule</button>
    <button class="btn admin-btn" (click)="toggleEditingRooms()">Edit Rooms</button>
    <button class="btn admin-btn" (click)="toggleEditingTimeSlots()">Edit Time Slots</button>
    <button class="btn admin-btn">Add Break</button>
  </div>
  <div class="flex-row">
    <div class="box">*</div>
    <div *ngFor="let room of schedule.rooms" class="box">{{room}}</div>
  </div>
  <div *ngFor="let timeSlot of schedule.timeSlots" class="flex-column">
    <div class="flex-row">
      <div class="box">{{timeSlot.standardTime}}</div>
      <ng-container *ngIf="!isBreak(timeSlot.standardTime)">
        <div *ngFor="let room of schedule.rooms"
        class="box"
        (click)="goToEditSessionPage(timeSlot.standardTime, room)">
        {{getCorrectSession(timeSlot.standardTime, room)}}
        </div>
      </ng-container>
      <ng-container *ngIf="isBreak(timeSlot.standardTime)">
        <div class="break">
          {{getBreakSession(timeSlot.standardTime)}}
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="!schedule">
  Start adding sessions!
</div>

<div *ngIf="editingRooms"
     class="edit-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <app-edit-rooms [schedule]="schedule" (editingRooms)="toggleEditingRooms()"></app-edit-rooms>
</div>
<div *ngIf="editingTimeSlots"
     class="edit-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="timesModalLabel"
     aria-hidden="true">
  <app-edit-time-slots [schedule]="schedule" (editingTimeSlots)="toggleEditingTimeSlots()"></app-edit-time-slots>
</div>
