<h3 class="text-center">Schedule</h3>
<div *ngIf="schedule">
  <div>
    <button *ngIf="!schedule.published" class="btn admin-btn" (click)="publishSchedule()">Publish Schedule</button>
    <button *ngIf="schedule.published" class="btn admin-btn" (click)="unpublishSchedule()">Unpublish Schedule</button>
    <button class="btn admin-btn" (click)="toggleEditingRooms()">Edit Rooms</button>
    <button class="btn admin-btn">Edit Time Slots</button>
  </div>
  <div class="flex-row">
    <div class="box">*</div>
    <div *ngFor="let room of schedule.rooms" class="box">{{room}}</div>
  </div>
  <div *ngFor="let timeSlot of schedule.timeSlots" class="flex-column">
    <div class="flex-row">
      <div class="box">{{timeSlot.standardTime}}</div>
      <div *ngFor="let room of schedule.rooms" class="box" (click)="goToEditSessionPage(timeSlot.standardTime, room)">
        {{getCorrectSession(timeSlot.standardTime, room)}}
      </div>
    </div>
  </div>
</div>
<div *ngIf="!schedule">
  Start adding sessions!
</div>

<div *ngIf="editingRooms" class="rooms-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rooms</h5>
        <button type="button" class="close" (click)="toggleEditingRooms()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="schedule && roomsForm" [formGroup]="roomsForm">
          <div class="rooms-header-row">
            <div class="delete-column"></div>
            <div class="order-column">Order</div>
            <div class="room-column">Room Name</div>
          </div>
          <div formArrayName="rooms">
            <div class="rooms-container-row" *ngFor="let room of rooms.controls; let i=index" [formGroupName]="i">
              <div class="delete-column">
                <button class="btn-danger" (click)="deleteRoom(i)">X</button>
              </div>
              <div class="order-column">
                <input type="text" value="{{room.value.roomOrder}}" formControlName="roomOrder" (change)="orderRooms(room, index)">
              </div>
              <div class="room-column">
                <input type="text" value="{{room.value.roomName}}" formControlName="roomName">
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-success" (click)="addRoom()">Add Room</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="toggleEditingRooms()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveRooms()">Save changes</button>
      </div>
    </div>
  </div>
</div>

